@import "tailwindcss";

@utility text-shadow {
  text-shadow: 1px 1px 6px currentColor;
}

@utility text-shadow-lg {
  text-shadow: 2px 2px 12px currentColor;
}

@layer components {
  .btn-ghost {
    text-shadow: 2px 2px 12px currentColor;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    opacity: 0.2;
    border: 2px solid #ccc;
  }
}
